.wrapper {
  margin-top: 16px;
  color: #1B1F23;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.title {
  margin-bottom: 4px;
}

.input {
  padding: 10px 16px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #E1E3E6;
  cursor: pointer;
  color: #999FA6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  transition: .3s all;
}

.input:focus {
  border-color: #F50;
  color: #1B1F23;
}

